# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual Env
# ======================
venv/
.env

# ======================
# Dataset (IMPORTANT)
# ======================
backend/*.zip
backend/datasets/*
backend/datasets/images/*
backend/datasets/labels/*
!backend/datasets/images/.keep
!backend/datasets/labels/.keep


# ======================
# Models
# ======================
backend/models/*.pt
backend/models/*.onnx

# ======================
# Logs
# ======================
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Node (nếu sau này dùng)
# ======================
node_modules/
dist/